*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #fff;
    text-rendering: optimizeLegibility;
}

header{
    background-image: url("../img/backgroundheader.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 123px;
    float: left;
}

.main-nav {
    float: right;
    margin-right: 50px;
    margin-top: 70px;
    
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.main-nav li a {
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a::after {
    border-bottom: 10px solid #ccc;

}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

.heading-main-box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

h1 {
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 135%;
    color: blue;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    width: 290px;
    display: inline-block;
    text-align: center;
    transition: all .3s;
}

.btn:hover,
.btn:active {
    background-color: #d35400;
}

.contact-section {
    display: flex;
}

.information {
    list-style: none;
    line-height: 200%;
    word-spacing: 1px;
    font-size: 95%;
    margin-top: 70px;
}

form{
    display: flex;
    flex-direction: column;
}

.contact-form {
    margin-left: auto;
}

form .form-element{
    display: flex;
}

footer {
    text-align: center;
    background-color: #4b4a4a;
    color: white;
    padding: 20px;
}

form {
    background-color: rgba(0, 0, 0,  0.4);
    margin-right: 20px;
    width: 60%;
    padding: 30px;
}

label {
    font-size: 150%;
}

input, textarea {
    outline: none;
    padding: 10px;
    background-color: rgba(48, 47, 47, 0.3);
    border: 1px solid rgba(70, 68, 68, 0.7);
    cursor: pointer;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 100px;
}

input[type=text], input[type=email], textarea{
    width: 80%;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus{
    color: white;
    background-color: rgba(48, 47, 47, 0.8);
}

input {
    height: 50px;
}

form [type=submit]{
    text-align: center;
}


